/*Cabeçalho*/

#titulo{   
    font-family: 'Roboto Condensed';
    text-align: center;
    color: #846219; 
    width: 100%;
    margin: 10px;
}

/*Caixa de busca*/

#formulario{
    width: 100%;
    text-align: center;
}

#caixaBusca{
    border-color: #846219;

}

/*Botão de busca*/

#botaoBusca{
    color: #fff;
    background-color: #846219;
    cursor: pointer;
    padding: 2px;
}

/*Título da Busca*/
#titulo-busca{
    font-family: 'Roboto Condensed';
    text-align: center;
    font-weight: bold;
    color: #846219;
    padding: 8px;
}

/*Cartões de Produtos*/

#resultados-busca{
    text-align: center;
    width: 100%;
    display: inline-flex;
}

.produto{
    font-family: 'Roboto Condensed';
    text-align: center;
    color: #846219;
    box-shadow: 0 15px 15px 0 rgba(0,0,0,0.5);
    margin: 30px;
    padding: 15px;

}

.ocultar{
    display: none;
}

/*Responsividade para mobile*/

@media screen and (max-width: 1000px){

    #resultados-busca{
        display: inline;
    }

}